# **Dependancies**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras import *
from keras.callbacks import *
import os
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from commons import mean_absolute_percentage_error
from keras.layers import *
from sklearn.pipeline import Pipeline

Using TensorFlow backend.

# **Loading Data**

In [ ]:
selected = pd.read_csv("../Data/train_btc_selected_features.csv")
btc = pd.read_csv("../Data/btc_Data.csv")
btc['Date'] = pd.to_datetime(btc['Date'])
btc = btc.set_index("Date")

In [ ]:
btcData = btc[selected.columns]
btcData['returns'] = btcData['priceUSD'].pct_change().copy()
Data = btcData.drop(columns=['priceUSD'])
Data = Data[1:]
# divide X and Y
X = Data.iloc[:,0:]
#Y = Data['returns']   # 用returns的话就用这一行，然后把下一行comment掉
Y = btcData['priceUSD'].shift(-30)[1:] # 反之亦然
# Split into three data sets
X_train = X['2016-01-01':'2019-12-31']
X_val = X['2020-01-01':'2021-05-31']
X_test = X['2021-06-01':'2023-01-01']

Y_train = Y['2016-01-01':'2019-12-31']
Y_val = Y['2020-01-01':'2021-05-31']
Y_test = Y['2021-06-01':'2023-01-01']

In [9]:
estimators=[]

In [10]:
estimators.append(['robust',RobustScaler()])

In [11]:
estimators.append(['mixmax',MinMaxScaler()])

In [12]:
scale=Pipeline(estimators,verbose=True)

In [13]:
X_train=scale.fit_transform(X_train)

[Pipeline] ............ (step 1 of 2) Processing robust, total=   0.0s
[Pipeline] ............ (step 2 of 2) Processing mixmax, total=   0.0s

In [14]:
X_test=scale.transform(X_test)

In [15]:
X_train=np.reshape(X_train,(X_train.shape[0],1,X_train.shape[1]))

In [16]:
X_test=np.reshape(X_test,(X_test.shape[0],1,X_test.shape[1]))

In [17]:
y_train=y_train.values

In [18]:
y_train=np.reshape(y_train, (y_train.shape[0],1,1))

In [19]:
y_test=y_test.values

In [20]:
y_test=np.reshape(y_test,(y_test.shape[0],1,1))

# **Model Architecture + Training**

In [22]:
def lr_schedule(epoch):
    """Learning Rate Schedule

    Learning rate is scheduled to be reduced after 80, 120, 160, 180 epochs.
    Called automatically every epoch as part of callbacks during training.

    # Arguments
        epoch (int): The number of epochs

    # Returns
        lr (float32): learning rate
    """
    lr = 1e-3
    if epoch > 180:
        lr *= 0.5e-3
    elif epoch > 160:
        lr *= 1e-3
    elif epoch > 120:
        lr *= 1e-2
    elif epoch > 80:
        lr *= 1e-1
    print('Learning rate: ', lr)
    return lr

In [23]:
adam=optimizers.adam(lr=lr_schedule(0),amsgrad=True)

Learning rate:  0.001

In [24]:
model = Sequential()
model.add(Bidirectional(LSTM(350, return_sequences=True, activation='relu'), input_shape=(1, X_train.shape[2])))
model.add(Bidirectional(LSTM(350, return_sequences=True, activation='relu')))
model.add(Dense(1))
model.compile(loss="logcosh", optimizer=adam, metrics=['mae'])

In [25]:
earlyStopping = EarlyStopping(monitor='val_loss', patience=100, verbose=1, mode='auto')

model.fit(X_train,y_train, epochs=5000, batch_size=32, validation_data=(X_test,y_test), callbacks=[mcp_save,earlyStopping])

# **Testing Model**

In [27]:
from tensorflow.keras.models import load_model
prediction_model = load_model('trained_models/LSTM_reg_seven_new.hdf5',compile=False)

In [28]:
y_pred = np.ravel(prediction_model.predict(X_test))

In [29]:
y_test=np.ravel(y_test)

In [30]:
r2=r2_score(y_test,y_pred) #testing score/ r^2
r2

0.9995161692423405

In [31]:
mae=mean_absolute_error(y_test,y_pred) #mae
mae

35.716042185424314

In [32]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred)) #rmse
rmse

83.31697071794044

In [33]:
mape=mean_absolute_percentage_error(y_test,y_pred) #mape
mape

1.5003317888342855

In [34]:
pd.DataFrame(zip(['MAE','RMSE','MAPE','R^2'],[mae,rmse,mape,r2])).transpose()

        0       1        2         3
0     MAE    RMSE     MAPE       R^2
1  35.716  83.317  1.50033  0.999516

In [35]:
pd.DataFrame([y_test,y_pred]).transpose()

             0             1
0     6912.000   6930.309570
1     6233.000   6215.681641
2      235.065    236.442825
3      609.126    614.928223
4      453.641    455.907837
5      852.382    832.241394
6      342.284    338.540771
7      344.899    347.315247
8      644.487    628.036255
9     3804.000   3817.390625
10    6978.000   7070.170410
11      96.000     92.714241
12    2571.000   2557.367432
13    9249.000   9182.739258
14    8206.000   8325.005859
15     374.287    376.424713
16     568.912    578.977722
17    5677.000   5669.422852
18     350.835    347.052063
19    5882.000   5919.316895
20    5265.000   5258.202148
21     437.341    439.496368
22     642.185    653.310486
23    3415.000   3577.179443
24    8830.000   8832.900391
25     504.405    500.222900
26    8797.000   8778.083008
27     273.617    278.828522
28     225.576    226.028214
29     447.946    440.261902
..         ...           ...
464    139.740    131.070541
465    377.566    382.746582
466   1269.000   1275.541260
467   9161.000   9285.103516
468    481.482    485.849884
469   8894.000   9083.071289
470   3422.000   3395.324707
471    241.816    240.987961
472   9499.000   9583.295898
473    892.331    898.470520
474    383.251    373.259705
475    402.084    392.066254
476    264.053    258.737823
477   6592.000   6531.542969
478  12645.000  12567.561523
479    829.446    818.575256
480    106.555    105.389008
481    952.778    953.274841
482   8265.000   8299.704102
483    238.539    243.847260
484   8236.000   8421.504883
485    114.295    124.636009
486    877.685    855.735962
487    584.376    588.994568
488   8204.000   8321.587891
489   7383.000   7336.909668
490     66.000     80.042831
491    596.048    579.973145
492    121.008    121.762978
493    605.886    606.188782

[494 rows x 2 columns]